/* TABLET VIEW */
@media only screen and (max-width:992px) {

}


/* MOBILE VIEW */
@media only screen and (max-width: 478px) {
    /*global section*/

    h1{
        font-size: 2em;
        text-align: center;
    }

    /*header section */
    nav img.logo{
        width: 50px;
        height: 50px;
    }
    /*semester link section*/

    img.menu_button{
        display: block;
        width: 40px;
        height: 40px;
    }

    li{
        display: none;
    }

    /*call to action section*/
    div.cta_body{
        flex-direction: column;
    }


    /*semester section*/
    div.semester_body{
        flex-direction: column;
        align-items: center;
    }

    div.footer_link{
        flex-direction: column;
        gap: 20px;
    }

    div.gallery{
        width:100%;
    }
}