/* TABLET VIEW */
@media only screen and (max-width:992px) {

}


/* MOBILE VIEW */
@media only screen and (max-width: 478px) {
    /*global section*/

    h1{
        font-size: 2em;
        text-align: center;
    }

    /*header section */
    nav img.logo{
        width: 50px;
        height: 50px;
    }
    /*semester link section*/

    img.menu_button{
        display: block;
        width: 40px;
        height: 40px;
    }

    li{
        display: none;
    }

    div.semester_texts{
        max-width: 80%;    
    }

    /*call to action section*/
    div.cta_body{
        flex-direction: column;
    }
    div.cta_container{
        flex-direction: column;
    }

    /*semester section*/
    div.semester_body{
        flex-direction: column;
        align-items: center;
    }

    div.footer_link{
        flex-direction: column;
        gap: 20px;
    }

    div.gallery{
        width:100%;
    }
    /*footer section*/
    nav.footer_navg{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*about me section*/
    div.aboutme_container{
        width: auto;

        flex-direction: column;
        align-items: center;
    }

    /*faqs section*/
    div.faqs_section{
        justify-content: space-evenly;
        align-items: normal;
    }
    
    div.faqs_body{
        width: 80%;
    }
}