/* CSS GOES HERE */
/*add inter as font-family*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    font-family: Arial, Helvetica, sans-serif !important;
}

/*Hey this is for the cards that show off information*/
body {
    margin: 0;
	padding: 0;
    height:auto;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
}


ol li{
    font-weight: bold;
}

/*---------------------header section------------------------*/
header{
    width:100%;
    height:auto;
    background-color: #ffbf91;
    padding: 40px 0px 40px 0px;
}

div.page_container{
    padding: 0px 40px 0 40px;
    display: flex;
    justify-content: space-between;
}

div.header_link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

/*coloring the link and no underline*/
a{
    color:#0e0d0d;
    text-decoration: none;
}

/*padding each sections*/
section {
    padding: 60px 20px;
}

/*switching color for each semester section */
.semester:nth-child(even) {
    background-color: #fff1e2;
}
/*---------------------semester link section------------------------*/
#semester_container{
    width: 100%;
    height:auto;
    background-color: #ff8731;
    padding: 40px 0px 40px 0px;
}

ul{
    margin:0;
    padding:0;
}

h1 {
    font-size: 3em;
}

/*---------------------call to action section------------------------*/
.cta_section{
    width: 100%;
    height: auto;
    padding: 40px 0px 40px 0px;
}

.cta_container{
    width: auto;
    height:auto;   
}

.cta_body{
    width:50%;
    height:auto;
}

/*---------------------semester section------------------------*/
section.semester{
    width: 100%;
    height: auto;
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.semester_article{
    max-width: 60%;
    width: 60%;
    height:auto;
}

.semester_texts{
    width: auto;
    height: auto;
}

section .gallery {
    height: auto;
    padding: 40px;
}
.semester_image{
    width: 260px;
    height: 310px;
}


/*---------------------footer section------------------------*/
footer {
    width: 100%;
    background-color: #ffbf91;
    color: #000000;
    padding: 40px 0px 40px 0px;
}

/*---------------------About me Section------------------------*/

section.about_body{
    width:100%;
    padding: 40px 0px 40px 0px;
    height: auto;
    background-color: #fff1e2;

}

/*---------------------FAQs Section------------------------*/
section.faqs_section{
    width: 100%;
    height: auto;
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.faqs_questions{
    background-color: #ffbf91;
}