/* CSS GOES HERE */
/*add inter as font-family*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/*Hey this is for the cards that show off information*/
body {
    margin: 0;
	padding: 0;
    height:auto;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
}


/*---------------------header section------------------------*/
header{
    width:100%;
    height:auto;
    background-color: #ffbf91;
    padding: 40px 0px 40px 0px;
}

img.logo{
    width: 100px;
    height: 100px;
}

div.page_container{
    padding: 0px 40px 0 40px;
    display: flex;
    justify-content: space-between;
}

div.header_link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

/*coloring the link and no underline*/
a{
    color:#0e0d0d;
    text-decoration: none;
}

/*padding each sections*/
section {
    padding: 60px 20px;
}

/*---------------------semester link section------------------------*/
#semester_container{
    width: 100%;
    height:auto;
    background-color: #ff8731;
    padding: 40px 0px 40px 0px;
}

img.menu_button{
    width: 50px;
    height: 50px;
    display: none;
}

ul.semester_list{
    display:flex;
    justify-content: space-around;
    padding: 0px 40px 0px 40px;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

h1 {
    font-size: 3em;
}

/*---------------------call to action section------------------------*/
.cta_section{
    width: 100%;
    height: auto;
    background-color: #ffb7ac;
    padding: 40px 0px 40px 0px;
}

div.cta_container{
    width: auto;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    
}


div.cta_body{
    width:80%;
    height:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p.cta_body_text{
    width: 50%;
    min-width: 300px;
}

h1.cta_title{
    margin: 0;
}

img.cta_symbol{
    min-width: 10%;
    min-height: 10%;
    max-width:  30%;
    max-height: 30%;
}

/*---------------------semester section------------------------*/
section.semester{
    width: 100%;
    height: auto;
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.semester_article{
    width: auto;
    height:auto;
}

.semester_texts{
    height: auto;
    min-width: 400px;
    max-width: 50%;
}

div.gallery {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;

}
.semester_image{
    width: 260px;
    height: 310px;
    object-fit: cover;
}
section.semester:nth-child(even){
    background-color: #fff1e2;
}
div.odd{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:20px;
    height:auto;
}

div.even{
    flex-direction: row-reverse;
    display: flex;
    gap:20px;
    justify-content: space-evenly;
    height:auto;
}

div.gallery{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

/*---------------------footer section------------------------*/
footer {
    width: 100%;
    background-color: #ffbf91;
    color: #000000;
    padding: 40px 0px 40px 0px;
}

nav.footer_navg{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
}

div.footer_link{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width:auto;
    height: auto;
}

div.social_media{
    height:auto;
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 40px;
}

div.social_media_images{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

div.social_media_texts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
}

div.page_navg{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.logo_copyright{
    display: flex;
}
/*---------------------About me Section------------------------*/

section.about_body{
    width:100%;
    padding: 40px 0px 40px 0px;
    height: auto;
    background-color: #fff1e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.aboutme_container{
    width: 80%;
    min-width: 300px;
}
/*---------------------FAQs Section------------------------*/
section.faqs_section{
    width: 100%;
    height: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 40px 0px;
}

div.faqs_body{
    width: 50%;
    min-width: 300px;
}

div.faqs_section_body{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    flex-direction: column;
}

summary{
    list-style: none;
}

div.faqs_textbody{
    padding: 10px;
}

div.faqs_questions{
    background-color: #ffbf91;
}