/* CSS GOES HERE */
/*add inter as font-family*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    font-family: Arial, Helvetica, sans-serif !important;
}

/*Hey this is for the cards that show off information*/
body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
}


ol li{
    font-weight: bold;
}

header{
    width:100%;
    height:auto;
    background-color: #ffbf91;
    padding: 40px;
}

a{
    color:#0e0d0d;
    text-decoration: none;
}

section {
    padding: 60px 20px;
}
.semester:nth-child(even) {
    background-color: #fff1e2;
}

#semester_container{
    width:100%;
    height:auto;
    background-color: #ff8731;
    padding: 40px;
}

ul{
    margin:0;
    padding:0;
}

h1 {
    font-size: 3em;
}

.cta_section{
    width: 100%;
    height: auto;
    padding: 10 20 10 20;
}

.cta_container{
    width: auto;
    height:auto;   
}

.cta_body{
    width:auto;
    height:auto;
}


section.semester{
    width: 100%;
    height: auto;
    padding:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.semester_article{
    width: auto;
    height:auto;
}

.semester_texts{
    width: auto;
    height: auto;
}

section .gallery {
    width: 100%;
    height: auto;
    padding: 40px;
}
.semester_image{
    width: 260px;
    height: 310px;
}

footer {
    background-color: #ffbf91;
    color: #000000;
    padding: 10px;
}